{% extends 'base.html' %}

{% block head %}
    <h1> Global Web-Traffic Scraper </h1>
{% endblock %}

{% block body %}
    <div class="outer">
        <div class="mainBody">
            <p>
                <form action="/" method="POST">
                    <input class="textbox" type="text" name="Searchterm" id="Searchterm" placeholder="Searchterm" required>
                    <br>
                    <input class="btn" type="submit" value="Start Search">
                </form>
            </p>    
        </div>
    </div>
{% endblock %}